<div class="pf-modal">
    <div class="pf-modal-body">
        <div class="d-flex justify-content-end mb-3">
            <p mat-dialog-title class="display-4 text-white" style="padding-right: 87px;"><em>PFinance Sign up!</em>
            </p>
            <div class="flex-shrink-0">
                <button (click)="close()" class="btn btn-lg">x</button>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-start">
                <label for="firstName">First Name :</label>
                <input id="firstName" name="firstName" required>
            </div>
            <div class="d-flex justify-content-start">
                <label>Last Name </label>
                <input id="lastName" name="lastName" required>
            </div>
            <div class="d-flex justify-content-start">
                <label>Email Address :</label>
                <input id="email" name="email" required>
            </div>
            <div class="d-flex justify-content-start">
                <label>Password :</label>
                <input id="password" name="password" required>
            </div>
            <div class="d-flex justify-content-start">
                <label>Confirm Password :</label>
                <input id="confirmPassword" name="confirmPassword" required>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-4 mx-4 mb-0 pb-0">
            <button (click)="close()"  id="signUpConfirmationButton" class="btn btn-lg">Close</button>
            <button id="signUpConfirmationButton" class="btn btn-lg">Next</button>
        </div>
    </div>
</div>