<!-- flex row containing expense information -->
<div class="d-flex flex-row flexRowsBudget">

    <!-- Left column-->
    <div class="col-md-8 pt-3">
        <div class="row h-auto w-100">
            <h2 class="display-5 text-center border-bottom">Expenses</h2>
        </div>

        <!-- Expense by category Buttons-->
        <div id="displayContainer" class="row" *ngIf="expenses">
            <p class="text-white mb-0 pb-0">*By Category:</p>

            <button id="expensesBtn" *ngFor="let c of expenseCategoryArr; let i = index"
                class="btn btn-primary m-2 text-start rounded"
                (click)="displaySpendingInCategory(c)">
                {{c}}
                <span class="fa-solid fa-chevron-right text-white float-end pt-1"></span>
            </button>

        </div>
        <!-- Change this to addExpense() modal function-->
        <!-- (click)="addIncome('modal-2')" -->
        <div class="row float-end add-btn-row ">
            <button class="btn btn-primary rounded btnAddNew" (click)="AddNewExpense()">
                <span  class="fa-solid fa-plus float-start addNewIcon"></span>Add
            </button>
        </div>
    </div>

    <!-- Right column-->
    <div id="expenseDetailCol" class="col-md-4 text-center pt-4 my-auto pt-2">

        <!-- If category button IS NOT clicked-->
        <div *ngIf="!expenseCategoryIsSelected && !expenseIsSelected;" style="height: inherit; padding-top: 150px!important">
            <p class="display-5 border-bottom">{{defaultTotalExpenseTitle}}</p>
            <p class="display-5">{{totalExpense | currency: 'USD'}}</p>
        </div>

        <!-- If category button IS clicked-->
        <div *ngIf="expenseCategoryIsSelected && !expenseIsSelected" id="spendingByCategorDiv" style="padding-top: 35px!important; padding-bottom: 35px !important; overflow-y: scroll !important;;">
            <p class="text-white text-start mb-0 pb-0e">*By Location:</p>

            <button id="expensesBtn" *ngFor="let e of expenseArrByCategory; let i = index"
                class="btn btn-primary m-2 text-start rounded" (click)="displayExpenseDetail(e)">
                {{e.location}}
                <span class="fa-solid fa-chevron-down text-white float-end pt-1"></span>
            </button>
        </div>
        
        <!-- Nested component for expense detail-->
        <pf-expense-detail *ngIf="expenseIsSelected" [selectedExpense]="selectedExpense" #expenseDetail
        style="padding-top: auto!important;" @fade
        (expenseDetailEvent)="closeExpenseDetail($event)"></pf-expense-detail>

    </div>
</div>