<div class="d-flex flex-row flexRowsBudget">
    <!-- Left column-->
    <div class="col-md-8 pt-3">
        <div class="row h-auto w-100">
            <h2 class="display-5 text-center border-bottom">Incomes</h2>
        </div>
        <div class="d-flex justify-content-center" *ngIf="doughnutChartLabels">

            <canvas id="charts" baseChart [labels]="doughnutChartLabels" [data]="doughnutChartData"
                [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'">
            </canvas>

        </div>

        <div class="row float-end">
            <button mat-button [matMenuTriggerFor]="incomeActionMenu" class="btnTableAction text-white">Modify Income</button>

            <mat-menu #incomeActionMenu="matMenu" [yPosition]="'above'" class="incomeActionMenu">
                <button (click)="addIncome()" class="btn btn-primary rounded btnAddNew">
                    <span class="fa-solid fa-plus float-start addNewIcon"></span>Add
                </button>
                <button (click)="editIncome()" class="btn btn-primary rounded btnAddNew">
                    <span class="fa-solid fa-pen-to-square float-start addNewIcon"></span>Edit
                </button>
                <button (click)="deleteIncome()" class="btn btn-primary rounded btnAddNew">
                    <span class="fa-solid fa-trash float-start addNewIcon"></span>Delete
                </button>
            </mat-menu>            
        </div>
    </div>

    <!-- Right column-->
    <div class="col-md-4 text-center pt-4 my-auto pt-2">
        <p class="display-5 border-bottom">{{defaultTotalIncomeTitle}}</p>
        <p class="display-5">{{totalIncome | currency: 'USD'}}</p>
    </div>
</div>