<div id="flexRowsBudget" class="d-flex flex-row">
    <!-- Left column-->
    <div class="col-md-8 pt-3">
        <div class="row h-auto w-100">
            <h2 class="display-5 text-center border-bottom">Incomes</h2>
        </div>
        <div class="d-flex justify-content-center" *ngIf="doughnutChartLabels">

            <canvas id="charts" baseChart [labels]="doughnutChartLabels" [data]="doughnutChartData"
                [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'">
            </canvas>

        </div>

        <div class="row float-end add-accordion-btn-row">
            <button id="btnAddNew" (click)="addIncome('modal-2')" class="btn btn-primary rounded">
                <span id="addNewIcon" class="fa-solid fa-plus float-start"></span>Add
            </button>
        </div>
    </div>

    <!-- Right column-->
    <div class="col-md-4 text-center pt-4 my-auto pt-2">
        <p class="display-5 border-bottom">{{defaultTotalIncomeTitle}}</p>
        <p class="display-5">{{totalIncome | currency: 'USD'}}</p>
    </div>
</div>

<div *ngIf="modalIsDisplayed">    
    <pf-budget-modal id="modal-2" (newIncomeEvent)="addNewIncome($event)"></pf-budget-modal>
</div>