<div class="card mt-1 text-white">

    <!-- header for income page-->
    <div class="row text-center">
        <p class="mt-4 mb-0 pb-0" style="font-size: 3.5em;"><em>Log your income, budget, and spending!</em></p><br>
        <p class="my-0 pb-0" style="font-size:x-large"><em>“Beware of little expenses; a small leak will sink a great
                ship.”
                — Benjamin Franklin</em>
        </p>
    </div>

    <!-- Nested Income-Chart Component containing flex row with income chart/information  -->
    <pf-income-chart></pf-income-chart>

    <!-- Nested Expense-Component containing flex row with expense information  -->
    <pf-expense></pf-expense>
</div>