<nav class="navbar sticky-top navbar-light bg-white" style="height: 75px; padding-left: 1em; font-size: 20px;">
    <a class="navbar-brand text-primary">{{title}}</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a id="navElement" class="nav-link text-primary" routerLink='/home'>Home</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a href="#" id="navElement"  class="nav-link dropdown-toggle text-primary" data-bs-toggle="dropdown"
               role="button" aria-expanded="false">PFinance</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a id="navElement" class="dropdown-item text-primary" routerLink="pfinance/budget">Budget</a></li>
                <li><a id="navElement" class="dropdown-item text-primary" href="#">Insight</a></li>
            </ul>
        </li>   

        <li class="nav-item"><a id="navElement" class="nav-link text-primary" href="#">Profile</a></li>
        <li class="nav-item"><a id="navElement" class="nav-link text-primary" href="#">Log In</a></li>
    </ul>
</nav>

<div class="container-fluid" style="background-color: #6f90af;">
    <router-outlet></router-outlet>
</div>

<!-- Site footer -->
<!-- Code below taken from https://codepen.io/scanfcode/pen/MEZPNd -->
<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">PFinance is a dynamic, personal financing web application developed by
                    Kimani Avery. A novice software engineer with 1 year of professional experience.
                    <i>Current tech-stack</i> includes TypeScript, HTML, CSS, and Bootstrap.<br>
                    <strong>MANY FEATURES ARE STILL UNDER CONSTRUCTION.</strong></p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a (click)="deadLink()">TypeScript</a></li>
                    <li><a (click)="deadLink()">HTML</a></li>
                    <li><a (click)="deadLink()">CSS</a></li>
                    <li><a (click)="deadLink()">BootStrap</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/budget" >Budget</a></li>
                    <li><a (click)="deadLink()">Insight</a></li>
                    <li><a (click)="deadLink()">Profile</a></li>
                    <li><a (click)="deadLink()">Log In</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <a href="https://www.linkedin.com/in/kimaniavery/" target="_blank">Kimani Avery</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" (click)="deadLink()"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a class="twitter"  (click)="deadLink()"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" (click)="deadLink()"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/kimaniavery/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>