<h1 class="text-center my-1" mat-dialog-title style="font-size: x-large;">Edit Income</h1>

<mat-stepper errormessage="Select an income." orientation="horizontal" linear #stepper>

  <mat-step [stepControl]="selectIncomeForm">
    <form [formGroup]="selectIncomeForm">

      <ng-template matStepLabel>Selet an income</ng-template>

      <div class="row" style="margin-top: 40px;">
      <mat-form-field appearance="fill">
        <mat-label>Income</mat-label>
        <mat-select formControlName="income" required>
          <mat-option *ngFor="let income of incomes; let i = index" [id]="i.toString()" [value]="income">{{
            income.incomeName }}</mat-option>
        </mat-select>
        <mat-error *ngIf="selectIncomeForm.controls['income'].invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      </div>

      <div class="mt-5 float-end">
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="editIncomeForm">
    <form [formGroup]="editIncomeForm">

      <ng-template matStepLabel>Edit information</ng-template>

      <div class="row d-block">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" class="w-50" required>
          <mat-error *ngIf="editIncomeForm.controls['name'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput formControlName="amount" min="0"required>
          <mat-error *ngIf="editIncomeForm.controls['amount'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary" matStepperPrevious class="btn">Back</button>
        <button mat-raised-button color="primary" matStepperNext class="btn float-end">Next</button>
      </div>

    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>