<!-- Add New Income Modal-->
<h1 class="text-center my-1" mat-dialog-title
    style="font-size: x-large;">Add New Income!</h1>

<mat-dialog-content>
    <div class="container">
        <mat-form-field appearance="fill">
            <mat-label>Income Name</mat-label>
            <input matInput [formControl]="name" placeholder="Income Name" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Income Amount</mat-label>
            <input matInput [formControl]="amount" placeholder="Income Amount" required>
            <mat-error *ngIf="amount.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        
    </div>
    <!-- <div class="border-bottom border-dark mb-1"></div> -->
    <div class="d-flex justify-content-between mt-2">
        <button mat-button color="primary" (click)="close()">Close</button>
        <button mat-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
</mat-dialog-content>
