<!-- Add New Income Modal-->
<h1 class="text-center my-1" mat-dialog-title
    style="font-size: x-large;">Add New Income!</h1>

<mat-dialog-content>
    <form class="container" [formGroup]="newIncomeForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Income Name</mat-label>
            <input matInput formControlName="name" placeholder="Income Name" required>
            <mat-error *ngIf="newIncomeForm.controls['name'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Income Amount</mat-label>
            <input matInput formControlName="amount" placeholder="Income Amount" required>
            <mat-error *ngIf="newIncomeForm.controls['amount'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        
        <div class="d-flex justify-content-between mt-2">
            <button mat-raised-button color="primary" (click)="close()">Close</button>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
    </form>
</mat-dialog-content>
