table {
    height: 300px;
    width: auto;
    margin-top: 10px;
}

button {
  border: none;
  background-color: transparent;
}
  

#bugetSummaryCol {
  height: inherit;
  padding-top: 45px;
  margin-left: 50px;
}